h1{
  color: red;
}
article li {
  color: #00f;
}
article li.actual{
  font-weight: bolder;
  font-size: 1.2em;
}
article li strong {
  color: #000;
}
aside {
  float: left;
  width: 30%;
  clear: both;
}
section{
  float: left;
  width: 70%;
}
nav ul {
  padding: 0;
}
nav ul li{
  display:inline;
}
nav ul li a {
  font-family: arial ;
  font-size: 11px;
  text-decoration:none;
  float:left;
  padding: 10px;
  background-color: #2175bc;
  color: #fff;

}
footer{
  clear: both;
}
#Formacion{
  float: left;
  width: 50%;

}
#Formacion ul li :first-child{
  font-weight: bolder;
  font-size: 1.2em;
}
#Experiencia{
  float: left;
  white: 50%;
}

@media  (min-width: 700px) and (max-width: 1000px)  {

  body {
    font-family: arial,sans-serif;
  }
  aside{
    float: left;
    width: 40%;
    clear:both;
  }
  section{
    float: left;
    width: 60%;
  }
  #Formacion {
    width: 100%;
  }
  #Experiencia{
    width: 100%;
  }

}
